<?xml version="1.0"?>
<model>
  <name>driving_course</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Team HYPER</name></author>
  <description>Driving-test course rebuilt from photo. Full scale, 3 m lanes (0.10 m/px). Green infield raised to 0.12 m plateaus with vertical curbs. For Gazebo Fortress (Ignition) + ROS 2 Humble.</description>
</model>
