<?xml version="1.0"?>
<model>
  <name>school_course</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Team HYPER</name></author>
  <description>Flat school test site, textured with the school aerial photo (driving_course/meshes/school.png). No props. For Gazebo Fortress (Ignition) + ROS 2 Humble.</description>
</model>
